@import '../../../src/App.scss';
.cart {
	&-container {
		display: grid;
		max-width: 1024px;
		grid-template-columns: 1fr;
		padding: 0 2rem;
		margin: 0 auto;
		h1 {
			font-size: 2rem;
			font-weight: normal;
		}
	}
	&-redeem {
		font-weight: 500;
		color: #573ba3;
		&:hover {
			cursor: pointer;
			color: darken(#573ba3, 10%);
		}
	}
}
.empty_cart {
	&--title {
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 1px;
		margin: 0 0 8px 0;
	}
}
.button {
	padding: 6px 24px;
	font-size: 16px;
	line-height: 24px;
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	color: white;
	border-radius: 35px;
	background-color: #de2545;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-top: 0.2rem;
	&:hover {
		color: white;
		background-color: darken(#de2545, 10%);
		transform: scale(1.05);
	}
}

.checkout-container {
	display: flex;
	flex-direction: column;
	.continue {
		display: block;
		margin-left: auto;
	}
}

// Shopping cart
.shopping-cart {
	width: 1024px;
	margin: 80px auto;
	background: #ffffff;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
	border-radius: 6px;

	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
}
.title,.title-quantity, .title-price {
	height: 60px;
	border-bottom: 1px solid #e1e8ee;
	padding: 20px 30px;
	color: #5e6977;
	font-size: 18px;
	font-weight: 400;
}

.item {
	padding: 20px 30px;
	// height: 120px;
	display: flex;
}

.item:nth-child(3) {
	border-top: 1px solid #e1e8ee;
	border-bottom: 1px solid #e1e8ee;
}
.buttons {
	position: relative;
	padding-top: 30px;
	margin-left: 60px;
}
.delete-btn,
.like-btn {
	display: inline-block;
	cursor: pointer;
}
.delete-btn {
	width: 18px;
	height: 17px;

}

.like-btn {
	position: absolute;
	top: 9px;
	left: 15px;
	width: 60px;
	height: 60px;
	background-size: 2900%;
	background-repeat: no-repeat;
}
.is-active {
	animation-name: animate;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: steps(28);
	animation-fill-mode: forwards;
}

@keyframes animate {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: right;
	}
}
.image {
	img {
		height: 200px;
	}
}

.description {
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 50px;
	width: 415px;
}

.description span {
	display: block;
	font-size: 14px;
	color: #43484d;
	font-weight: 400;
}

.description span:first-child {
	margin-bottom: 5px;
}
.description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939e;
}
.quantity {
	padding-top: 20px;
	margin-right: 60px;
}
.quantity input {
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484d;
	font-weight: 300;
}

.minus-btn img {
	margin-bottom: 3px;
}
.plus-btn img {
	margin-top: 2px;
}

button:focus,
input:focus {
	outline: 0;
}
.total-price {
	width: 83px;
	padding-top: 27px;
	text-align: center;
	color: #43484d;
	font-weight: 300;
}
@media (max-width: 800px) {
	.shopping-cart {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.item {
		height: auto;
		flex-wrap: wrap;
		justify-content: center;
	}
	.image img {
		width: 50%;
	}
	.image,
	.quantity,
	.description {
		width: 100%;
		text-align: center;
		margin: 6px 0;
	}
	.buttons {
		margin-left: 20px;
	}
}

.titles-container{
	display: flex;
	align-items: center;
	.title-quantity{
		padding-left: 29rem;
		padding-right: 4rem;
	}
	.title-price{

	}
}