:root{
  --custom-color: #dc143c;
  --custom-font-family: Arial;
  --custom-font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  align-self: flex-start;
}

.heading1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
}

.about{
  align-self: flex-start;
  margin-top: 20px;
}

.title{
  align-self: flex-start;
  margin-top: 20px;
}

.box{
  width: 150px;
}

.imgBox{
  /* padding: 10px 5px 10px 5px; */
  /* border-width: 10px 5px;   */
  border-radius: 3px;
  background-color: lightgray;
  padding: 8px 6px;
}

img{
  width: 100%;
  object-fit: contain;
  border-radius: 3px;
}

.bookName{
  margin-top: 10px;
}

.cost{
  text-decoration: line-through;
  color: var(--custom-color);
}

.inCart{
  background-color: white;
  border-radius: 50px;
  width: 100%;
  border-color: var(--custom-color);
  color: var(--custom-color);
  margin-top: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

p{
  margin-top: 0;
  margin-bottom: 5px;
}