:root{
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: antiquewhite;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}


.container{
    padding-top: 50px;
    padding-left: 20px;
}
.container ul li{
    display: inline;

}

.container ul li a{
    padding: 25px;
    font-size: 20px;
    font-weight: 300;
}
.mega_menu{
    position: absolute;
    width: 85%;
    background-color: rgb(226, 189, 133);
    border-radius: 25px;
    display: none;
}
.mega_menu .cata{
    width: var(--percent100);
    
}
.child:hover .mega_menu{
    display: block;
}
.mega_menu .cata li{
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

section{
  padding: 5rem 9%;

}

.product_slider img{
    width: 100px;
    height: 150px;
}

.products img{
    width: 100%;
    display: block;
}
.pro_container{
    width: 88vh;
    margin: 0 auto;
}
.lg_tittle,
.sm_tittle{
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg_tittle{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.sm_tittle{
    font-weight: 300;  
    font-size: 1rem;
    text-transform: uppercase;
}
.text_light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;

}
img{
    width: 100%;
    display: block;
}
.pro_container {
    width: 88vw;
    margin: 0 auto;
}
.lg_title,
.md_title,
.sm_title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg_title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md_title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm_title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text_light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

.products{
    background: var(--alice-blue);
    padding: 3.2rem 0;
}
.products .text_light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
}
.product_content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product_img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product_btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn_cart, .btn_buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn_cart{
    background: black;
    color: white;
}
.btn_cart:hover{
    background: var(--carribean-green);
    color: black;
}
.btn_buy{
    background: white;
}
.btn_buy:hover{
    background: var(--carribean-green);
    color: black;
}
.product_info{
    background: white;
    padding: 2rem;
}
.product_info_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-green);
}
.product_name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product_price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product_price:first-of-type{
    text-decoration: line-through;
    color: red;
}
.product_img img{
    transition: transform 0.6s ease;
}

.product:hover .product_btns{
    opacity: 1;
}
.off_info .sm_title{
    background: var(--carribean-green);
    color: black;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 992px){
    .product_items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product_col_r_bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product_items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text_light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product_items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product_collection_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product_col_left{
        height: 121.5vh;
    }
}

.select{
    width: 150px;
    left: 15px;
}

