:root{
  --custom-color: #dc143c;
  --custom-font-family: Arial;
  --custom-font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
  color: purple;
  font-weight: bold;
  font-size: var(--custom-font-size);
  width: 350px;
  padding: 30px;
  border: 1px solid #E8E8E8;
  text-align: left;
  margin-bottom: 8px;
  border-radius: 4px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: white;
  padding: 30px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: var(--custom-font-size);
  font-family: var(--custom-font-family);
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}

span{
  color: red;
}

.nameBox{
  display: flex;
  flex-direction: row;
}

.firstNameBox{
  width: 110px;
}

.lastNameBox{
  width: 165px;
}

.buttonSignUp {
  background-color: var(--custom-color);
  border-color: var(--custom-color);
  color: white;
  border-radius: 50px;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  max-width: max-content;
  margin-bottom: 20px;
}

p {
  text-align: left;
  font-size: var(--custom-font-size);
  font-family: var(--custom-font-family);
}

.checkBox {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  text-align: left;
  font-size: var(--custom-font-size);
  font-family: var(--custom-font-family);
}

a {
  text-decoration: none;
  color: var(--custom-color);
}
